body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ECEDF1;
    overflow-x: hidden;
}

.modal-create {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    overflow: hidden;
}

.modal-left {
    width: 50%;
}

.modal-left p {
    font-size: 1.05vw;
    font-weight: bold;
    margin-bottom: 0.52vw;
}

.modal-left input {
    width: 41.26vw;
    height: 2.91vw;
    border-radius: 1.32vw;
    border: none;
    padding-left: 1.05vw;
    font-size: 0.85vw;
    margin-bottom: 1.05vw;
}

.modal-left textarea {
    width: 41.26vw;
    height: 8.99vw;
    padding: 1.05vw;
    border-radius: 1.32vw;
    border: none;
    font-size: 0.85vw;
    margin-bottom: 1.05vw;
}

.modal-right {
    width: 50%;
}

.modal-content-create {
    background-color: #ECEDF1;
    padding-left: 2.91vw;
    padding-right: 2.91vw;
    padding-top: 1.71vw;
    padding-bottom: 1.71vw;
    width: 86.97vw;
    height: 42.29vw;
    position: relative;
    overflow-y: scroll;
    display: flex;
}

.modal-content-flex {
    display: flex;
    align-items: center;
}

.modal-content-create h2 {
    font-size: 1.58vw;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin: 0;
    margin-right: 3.17vw;
    margin-bottom: 1.05vw;  
    margin-top: 0;
}

.question-collection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.collection-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cancel-button-create, .create-button-create {
    padding: 10px 20px;
    background-color: #1C4E87;
    color: white;
    border: none;
    font-size: 1.58vw;
    cursor: pointer;
    border-radius: 1.58vw;
    height: 4.23vw;
    font-weight: bold;
    width: 13.22vw;
    position: absolute;
    bottom: 2.1vw;
}

.cancel-button-create {
    left: 7.8vw;
}

.create-button-create {
    left: 26.19vw;
}

.cancel-button-create:hover, .create-button-create:hover {
    opacity: 0.6;
}

.collection-icon {
    width: 7.67vw;
    height: 7.67vw;
}

.collection-radio-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 2.64vw;
    margin-left: 0.87vw;
}

.collection-item p {
    font-size: 0.66vw;
    width: 100%;
    text-align: center;
    max-width: 7.67vw;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin: 0;
    color: #1C4E87;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
}

.collection-radio {
    width: 1.71vw;
    height: 1.71vw;
    margin-right: 0.87vw;
}

.collection-icon-container {
    position: relative;
}

.spine-image {
    width: 5.55vw;
    height: 41.79vw;
    margin-left: 4.2vw;
    margin-right: 4.2vw;
}

.cover-image {
    width: 28.04vw;
    height: 41.79vw;
    margin-left: 1.05vw;
}

.workbook-image-container {
    display: flex;
}