body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ECEDF1;
    overflow-x: hidden;
    padding-bottom: 5vw;
}

header {
    background-image: url("../images/header.png");
    background-size: cover;
    background-position: center;
    height: 6.61vw;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
}

header h1 {
    font-size: 2.11vw;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin: 0;
    margin-left: 6.34vw;
}

header nav ul {
    list-style: none;
    display: flex;
    margin-left: 6.08vw;
    padding: 0;
    gap: 3vw;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.58vw;
    font-weight: bold;
}

a:hover {
    opacity: 0.6;
}

.profile-header-title {
    text-decoration: none;
    color: white;
}

.character-img {
    width: 7.93vw;
    height: 6.61vw;
    position: absolute;
    right: 2.64vw;
    top: 0;
}

.character-img:hover {
    opacity: 0.6;
    animation: jump 0.5s ease-in-out infinite;
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.keyword-questions-container {
    margin-left: 6.34vw;
    margin-top: 2.64vw;
    margin-right: 6.34vw;
}

.keyword-questions-container h2 {
    font-size: 2.11vw;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin: 0;
    margin-bottom: 2.48vw;
}

.keyword-questions-container ul {
    padding: 0;
    list-style: none;
}

.keyword-questions-container ul li {
    font-size: 1.58vw;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin: 0;
}

.question-background {
    height: 6.62vw;
    width: 86.97vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.question-text {
    position: absolute;
    top: 0;
    left: 9.49vw;
    font-size: 1.58vw;
    width: 100%;
    height: 4.69vw;
    display: flex;
    align-items: center;
    margin: 0;
    letter-spacing: 0;
}

.image-container {
    position: relative;
    display: inline-block;

}

.question-background {
    width: 100%;
    height: auto;
}

.retry-button {
    position: absolute;
    right: 1.58vw;
    transform: translateY(-169%);
    height: 3.17vw;
    width: 6.61vw;
    background-color: #1C4E87;
    border: none;
    border-radius: 1.58vw;
    color: white;
    font-size: 1.19vw;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 0.05em;
}


.retry-button:hover {
    opacity: 0.6;
}

.circle-img-first{
    position: absolute;
    bottom: 2.58vw;
    width: 2.87vw;
    height: 2.87vw;
    right: 24.58vw;
    transform: translateY(-70%);
}

.cross-img-first{
    position: absolute;
    bottom: 2.58vw;
    width: 2.87vw;
    height: 2.87vw;
    right: 24.58vw;
    transform: translateY(-70%);
}

.circle-img-second{
    position: absolute;
    bottom: 2.58vw;
    width: 2.87vw;
    height: 2.87vw;
    right: 19.58vw;
    transform: translateY(-70%);
}

.cross-img-second {
    position: absolute;
    bottom: 2.58vw;
    right: 19.58vw;
    width: 2.87vw;
    height: 2.87vw;
    transform: translateY(-70%);
}

form {
    display: flex;
    justify-content: center;
    position: relative;
}

.explanation-button {
    position: absolute;
    right: 9.58vw;
    transform: translateY(-120%);
    height: 3.17vw;
    width: 7.61vw;
    background-color: #C40003;
    border: none;
    border-radius: 1.58vw;
    color: white;
    font-size: 1.19vw;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 0.05em;
}


.explanation-button:hover {
    opacity: 0.6;
}

.correct-text-first {
    position: absolute;
    right: 24.78vw;
    font-size: 2.09vw;
    font-weight: bold;
    letter-spacing: 0.05em;
    bottom: 2.25vw;
}

.correct-text-second {
    position: absolute;
    right: 19.78vw;
    font-size: 2.09vw;
    font-weight: bold;
    letter-spacing: 0.05em;
    bottom: 2.25vw;
}

.first-text {
    position: absolute;
    right: 24.78vw;
    transform: translateY(-120%);
    font-size: 1.09vw;
    font-weight: bold;
    letter-spacing: 0.05em;
    bottom: 0;
}   

.retry-text {
    position: absolute;
    right: 18.58vw;
    transform: translateY(-120%);
    font-size: 1.09vw;
    font-weight: bold;
    letter-spacing: 0.05em;
    bottom: 0;
}

.keyword-theme-select {
    font-size: 0.87vw;
    height: 2.31vw;
    border: none;
    margin-left: 2vw;
    padding:0 0.8vw;
    border-radius: 0.32vw;
}

.search-form {
    position: relative;
    margin:0;
    margin-bottom: 2.48vw;
}

.keyword-questions-flex {
    display: flex;
    align-items: center;
}

.create-book-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.58vw;
    margin-bottom: 1.58vw;
}

.create-book-button-container:hover {
    opacity: 0.6;
}

.create-book-button {
    width: 2.64vw;
    height: 2.64vw;
    margin-bottom: 0.2vw;
}

.create-book-button-text {
    font-size: 1.19vw;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin: 0;
}

.create-book-button-cancel, .create-book-button-add, .create-book-button-create {
    position: fixed;
    width: 19.84vw;
    height: 4.23vw;
    background-color: #1C4E87;
    z-index: 100;
    color: white;
    border: none;
    border-radius: 1.58vw;
    font-size: 1.58vw;
    font-weight: bold;
    letter-spacing: 0.05em;
    display: none;
}

.create-book-button-cancel:hover, .create-book-button-add:hover, .create-book-button-create:hover {
    opacity: 0.6;
}

.create-book-button-cancel {
    bottom: 2.64vw;
    left: 14.15vw;
}

.create-book-button-add {
    bottom: 2.64vw;
    left: 40.15vw;
}

.create-book-button-create {
    bottom: 2.64vw;
    right: 14.15vw;
}

.question-item-flex {
    display: flex;
    align-items: center;
    height: 100%;
    max-height: 4.23vw;
    margin-bottom: 2.11vw;
}

.radio-button {
    width: 7.11vw;
    height: 7.11vw;
    margin-right:  1vw;
    margin-bottom: 3vw;
}