body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    overflow: hidden;
}

.signup-page {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url(../images/background_1.png);
    background-size: cover;
    background-position: center;
}



.signup-page h1 {
    color: white;
    font-size: 2.64vw;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    margin: 0;
    margin-bottom: 1.56vw;
}

.signup-page label {
    color: white;
    font-size: 1.32vw;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    margin: 0;
    margin-left: 1.05vw;
}

.signup-page input {
    margin-top: 0.87vw;
    margin-bottom: 1.56vw;
    width: 52.9vw;
    height: 4.23vw;
    border-radius: 0.87vw;
    outline: none;
    border: none;
    font-size: 1.58vw;
    padding: 1.04vw;
}

.signup-button {
    color: white;
    margin-top: 1.56vw;
    width: 9.92vw;
    height: 4.23vw;
    border-radius: 0.87vw;
    outline: none;
    border: none;
    font-size: 1.58vw;
    background-color: #1C4E87;
    font-weight: bold;
}

.signup-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.signup-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.password-container {
    position: relative;
    height: 4.23vw;
}

.password-check-first, .password-check-second {
    position: absolute;
    right: 2.11vw;
    top: 50%;
    transform: translateY(-50%);
    width: 2.64vw;
    height: 2.64vw;
}

.password-check-first:hover, .password-check-second:hover {
    cursor: pointer;
    opacity: 0.6;
}

.password-close-first, .password-close-second {
    position: absolute;
    right: 2.11vw;
    top: 50%;
    transform: translateY(-50%);
    width: 2.64vw;
    height: 2.64vw;
    display: none;
}

.password-close-first:hover, .password-close-second:hover {
    cursor: pointer;
    opacity: 0.6;
}