{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/keyword_questions.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'addmodal.html' %}
    {% include 'createworkbook.html' %}
    <header>
        <h1><a href="{% url 'profile' %}" class="profile-header-title">generAIte</a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'generate' %}">問題生成</a></li>
                <li><a href="{% url 'allkeyword' %}">問題一覧</a></li>
                <!-- <li><a href="{% url 'allquestion' %}">作成した問題集</a></li> -->
                <li><a href="{% url 'plans' %}">プラン一覧</a></li>
            </ul>
            <a href="{% url 'profile' %}"><img src="{% static 'images/character_header.png' %}" alt="プロフィール画像" class="character-img"></a>
        </nav>
    </header>
    <div class="keyword-questions-container">
        <div class="keyword-questions-flex">
            <h2>{{ keyword }} の問題一覧</h2>
            <form method="GET" action="{% url 'keyword_questions' keyword %}" class="search-form">
                <select name="filter" class="keyword-theme-select" onchange="this.form.submit()">
                    <option value="all" {% if request.GET.filter == 'all' %}selected{% endif %}>全て</option>
                    <option value="correct_first" {% if request.GET.filter == 'correct_first' %}selected{% endif %}>初回正解</option>
                    <option value="incorrect_first" {% if request.GET.filter == 'incorrect_first' %}selected{% endif %}>初回不正解</option>
                    <option value="correct_second" {% if request.GET.filter == 'correct_second' %}selected{% endif %}>再挑戦正解</option>
                    <option value="incorrect_second" {% if request.GET.filter == 'incorrect_second' %}selected{% endif %}>再挑戦不正解</option>
                    <option value="retry_none" {% if request.GET.filter == 'retry_none' %}selected{% endif %}>未挑戦</option>
                </select>
            </form>
            <div class="create-book-button-container">
                <img src="{% static 'images/book.png' %}" alt="フィルター" class="create-book-button">
                <p class="create-book-button-text">問題集に追加</p>
            </div>
        </div>
        <button class="create-book-button-cancel">キャンセル</button>
        <button class="create-book-button-add">既存問題集に追加</button>
        <button class="create-book-button-create">新規作成して追加</button>
        <ul>
            {% for question in questions %}
                <li class="question-item">
                    <div class="question-item-flex">
                        <div class="image-container" data-radio="radio{{ forloop.counter }}">
                            <img src="{% static 'images/bar_pink.png' %}" alt="問題アイコン" class="question-background" style="display: none;">
                            <img src="{% static 'images/bar_purple.png' %}" alt="問題アイコン" class="question-background" style="display: none;">
                            <img src="{% static 'images/bar_blue.png' %}" alt="問題アイコン" class="question-background" style="display: none;">
                            <img src="{% static 'images/bar_water.png' %}" alt="問題アイコン" class="question-background" style="display: none;">
                            <img src="{% static 'images/bar_rightblue.png' %}" alt="問題アイコン" class="question-background" style="display: none;">
                            <img src="{% static 'images/bar_green.png' %}" alt="問題アイコン" class="question-background" style="display: none;">
                            <img src="{% static 'images/bar_yellow.png' %}" alt="問題アイコン" class="question-background" style="display: none;">
                            <img src="{% static 'images/bar_orange.png' %}" alt="問題アイコン" class="question-background" style="display: none;">
                            <img src="{% static 'images/bar_red.png' %}" alt="問題アイコン" class="question-background" style="display: none;">
                            <p class="question-text">{{ question.text|truncatechars:31 }}</p>
                            <p class="first-text">初回</p>
                            <p class="retry-text">再挑戦後</p>
                            {% if question.is_correct_first == True %}
                                <img src="{% static 'images/circle_small.png' %}" alt="正解" class="circle-img-first">
                            {% elif question.is_correct_first == False %}
                                <img src="{% static 'images/cross_small.png' %}" alt="不正解" class="cross-img-first">
                            {% else %}
                                <p class="correct-text-first">未</p>
                            {% endif %}
                            {% if question.is_correct == True %}
                                <img src="{% static 'images/circle_small.png' %}" alt="正解" class="circle-img-second">
                            {% elif question.is_correct == False %}
                                <img src="{% static 'images/cross_small.png' %}" alt="不正解" class="cross-img-second">
                            {% else %}
                                <p class="correct-text-second">未</p>
                            {% endif %}
                            <form action="{% url 'explanation' keyword=keyword question_number=question.question_number %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="retry" value="true">
                                <input type="hidden" name="question_text" value="{{ question.original_text }}">
                                <input type="hidden" name="question_id" value="{{ question.question_id }}">
                                <button class="explanation-button">解説確認</button>
                            </form>
                            <form action="{% url 'question' keyword=keyword question_number=question.question_number %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="question_text" value="{{ question.original_text }}">
                                <input type="hidden" name="retry" value="true"> <!-- retry情報を追加 -->
                                <input type="hidden" name="question_id" value="{{ question.question_id }}">
                                <button class="retry-button">再挑戦</button>
                            </form>
                        </div>
                    </div>
                </li>
            {% empty %}
                <li>問題がありません。</li>
            {% endfor %}
        </ul>
    </div>
</body>
<script>
    const questionItems = document.querySelectorAll('.question-item-flex');
    questionItems.forEach((item, index) => {
        const images = item.querySelectorAll('.question-background');
        const imageIndex = index % 9; // 0から8の範囲でインデックスを取得
        images[imageIndex].style.display = 'block'; // 対応する画像を表示
    });
    const createBookButton = document.querySelector('.create-book-button-container');
    const cancelButton = document.querySelector('.create-book-button-cancel');
    const addButton = document.querySelector('.create-book-button-add');
    const createButton = document.querySelector('.create-book-button-create');
    const body = document.querySelector('body');
    const createWorkBookModal = document.getElementById('createworkbookModal');
    createBookButton.addEventListener('click', () => {
    createBookButton.style.display = 'none';
    cancelButton.style.display = 'block';
    addButton.style.display = 'block';
    createButton.style.display = 'block';

    questionItems.forEach((item, index) => {
        if (!item.querySelector('.radio-button')) {
            const radioButton = document.createElement('input');
            radioButton.type = 'checkbox'; // ラジオボタンに変更
            radioButton.name = 'select-image';
            radioButton.id = `radio${index}`; // ユニークなIDを設定
            radioButton.classList.add('radio-button');
            // .image-containerを取得
            const imageContainer = item.querySelector('.image-container');
            if (imageContainer) {
                const questionText = imageContainer.querySelector('.question-text').textContent;
                radioButton.value = questionText;
            }
            
            item.insertAdjacentElement('afterbegin', radioButton);
        }
    });

    const imageContainers = document.querySelectorAll('.image-container');

    imageContainers.forEach((container, index) => {
        container.setAttribute('data-radio', `radio${index}`); // data-radio属性を設定

        container.addEventListener('click', () => {
            const radioId = container.getAttribute('data-radio');
            const radioButton = document.getElementById(radioId);
            if (radioButton.checked) {
                radioButton.checked = false;
            } else {
                radioButton.checked = true;
            }
        });
    });
});
    cancelButton.addEventListener('click', () => {
        createBookButton.style.display = 'flex';
        cancelButton.style.display = 'none';
        addButton.style.display = 'none';
        createButton.style.display = 'none';
        questionItems.forEach(item => {
            item.querySelector('.radio-button').remove();
        });
    });
    addButton.addEventListener('click', () => {
        const radioButton = document.querySelectorAll('.radio-button:checked');
        if (radioButton.length > 0) {
            addModal.style.display = 'flex';
            body.style.overflow = 'hidden';
            cancelButton.style.display = 'none';
            addButton.style.display = 'none';
            createButton.style.display = 'none';
        } else {
            alert('問題を選択してください');
        }
    });
    createButton.addEventListener('click', () => {
        const radioButton = document.querySelectorAll('.radio-button:checked');
        if (radioButton.length > 0) {
            createWorkBookModal.style.display = 'flex';
            body.style.overflow = 'hidden';
            cancelButton.style.display = 'none';
            addButton.style.display = 'none';
            createButton.style.display = 'none';
        } else {
            alert('問題を選択してください');
        }
    });
</script>