{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="signup-page">
        <h1>新規登録</h1>
            <form method="POST" action="{% url 'signup' %}">
                {% csrf_token %}
            <label for="email">メールアドレス</label>
            <br>
            <input type="email" name="email" id="email" required>
            <br>
            <label for="password">パスワード</label>
            <br>
            <div class="password-container">
                <input type="password" name="password" id="password" required>
                <img src="{% static 'images/eye.png' %}" alt="確認" class="password-check-first" onclick="togglePasswordVisibilityFirst()">
                <img src="{% static 'images/closed_eye.png' %}" alt="閉じる" class="password-close-first" onclick="togglePasswordVisibilityFirst()">
            </div>
            <br>
            <label for="password_confirm">パスワード確認</label>
            <br>
            <div class="password-container">
                <input type="password" name="password_confirm" id="password_confirm" required>
                <img src="{% static 'images/eye.png' %}" alt="確認" class="password-check-second" onclick="togglePasswordVisibilitySecond()">
                <img src="{% static 'images/closed_eye.png' %}" alt="閉じる" class="password-close-second" onclick="togglePasswordVisibilitySecond()">
            </div>
            <br>
            <div class="signup-button-container">
                <button type="submit" class="signup-button">登録</button>
            </div>
        </form>
        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}
    </div>
</body>
<script>
    function togglePasswordVisibilityFirst() {
        const passwordInput = document.getElementById('password');
        const passwordType = passwordInput.getAttribute('type');
        const passwordCloseFirst = document.querySelector('.password-close-first');
        const passwordCheckFirst = document.querySelector('.password-check-first');
        
        if (passwordType === 'password') {
            passwordInput.setAttribute('type', 'text');
            passwordCloseFirst.style.display = 'block';
            passwordCheckFirst.style.display = 'none';
        } else {
            passwordInput.setAttribute('type', 'password');
            passwordCloseFirst.style.display = 'none';
            passwordCheckFirst.style.display = 'block';
        }
    }
    function togglePasswordVisibilitySecond() {
        const passwordInput = document.getElementById('password_confirm');
        const passwordType = passwordInput.getAttribute('type');
        const passwordCloseSecond = document.querySelector('.password-close-second');
        const passwordCheckSecond = document.querySelector('.password-check-second');

        if (passwordType === 'password') {
            passwordInput.setAttribute('type', 'text');
            passwordCloseSecond.style.display = 'block';
            passwordCheckSecond.style.display = 'none';
        } else {
            passwordInput.setAttribute('type', 'password');
            passwordCloseSecond.style.display = 'none';
            passwordCheckSecond.style.display = 'block';
        }
    }
</script>